<div class="text-nowrap" style="margin: 25px 50px;">
    <table id="PermissionTable" class="table">
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="UpdatePermissionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Permisos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="mb-3">
                        <label for="RolSelect" class="form-label">Rol*</label>
                        <select id="RolSelect" class="form-select">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button id="UpdatePermissionButton" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>