<div id="ActionsButtons" class="demo-inline-spacing" style="padding: 0px 50px;">
</div>
<div class="text-nowrap table-responsive" style="margin: 25px 50px;">
    <table id="DatesXSchedulesTable" class="table">
    </table>
</div>