<div class="nav-align-top mb-4">
    <ul id="UlScheduleNavs" class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item">
            <button id="TomorrowScheduleNav" type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                data-bs-target="#TomorrowSchedule" aria-controls="navs-pills-top-home" aria-selected="true">
                Programación de Mañana
            </button>
        </li>
        <li class="nav-item">
            <button id="TodayScheduleNav" type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                data-bs-target="#TodaySchedule" aria-controls="navs-pills-top-profile" aria-selected="false">
                Programación de Hoy
            </button>
        </li>
    </ul>

    <div class="card mb-4">
        <div id="ActionsButtons" class="demo-inline-spacing" style="padding: 0px 50px;">
        </div>
    </div>

    <div class="tab-content" style="background-color: transparent;">
        <div class="tab-pane fade show active" id="TomorrowSchedule" role="tabpanel">
            <div class="nav-align-top mb-4">
                <ul id="UlTomorrowDatesNavs" class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item">
                        <button id="NavTomorrowPendingDates" type="button" class="nav-link active" role="tab"
                            data-bs-toggle="tab" data-bs-target="#pendingTomorrowDatesTab"
                            aria-controls="navs-pills-top-home" aria-selected="true">
                            Pendientes
                        </button>
                    </li>
                    <li class="nav-item">
                        <button id="NavTomorrowAssignedDates" type="button" class="nav-link" role="tab"
                            data-bs-toggle="tab" data-bs-target="#assignedTomorrowDatesTab"
                            aria-controls="navs-pills-top-profile" aria-selected="false">
                            Asignadas
                        </button>
                    </li>
                </ul>
                <div class="tab-content" style="padding:0%;">
                    <div class="tab-pane fade show active" id="pendingTomorrowDatesTab" role="tabpanel">
                    </div>
                    <div class="tab-pane fade" id="assignedTomorrowDatesTab" role="tabpanel">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="TodaySchedule" role="tabpanel">
            <div class="nav-align-top mb-4">
                <ul id="UlTodayDatesNavs" class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item">
                        <button id="NavTodayAssignedDates" type="button" class="nav-link" role="tab"
                            data-bs-toggle="tab" data-bs-target="#assignedTodayDatesTab"
                            aria-controls="navs-pills-top-profile" aria-selected="false">
                            Asignadas
                        </button>
                    </li>
                    <li class="nav-item">
                        <button id="NavTodayArrivalDates" type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                            data-bs-target="#arrivalTodayDatesTab" aria-controls="navs-pills-top-profile"
                            aria-selected="false">
                            Arribos
                        </button>
                    </li>
                    <li class="nav-item">
                        <button id="NavTodayExpiredDates" type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                            data-bs-target="#expiredTodayDatesTab" aria-controls="navs-pills-top-profile"
                            aria-selected="false">
                            Vencidas
                        </button>
                    </li>
                </ul>
                <div class="tab-content" style="padding:0%;">
                    <div class="tab-pane fade" id="assignedTodayDatesTab" role="tabpanel">
                    </div>
                    <div class="tab-pane fade" id="arrivalTodayDatesTab" role="tabpanel">
                    </div>
                    <div class="tab-pane fade" id="expiredTodayDatesTab" role="tabpanel">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="ModalDateInfo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="ModalDateInfoTitle"></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="lblHorario" class="form-label">Horario: </label>
                        <input type="text" disabled id="txtHorario" class="form-control"></label>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="lblOperacion" class="form-label">Operacion: </label>
                        <input type="text" disabled id="txtOperacion" class="form-control"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="lblFechaCita" class="form-label">Fecha de Cita: </label>
                        <input type="text" disabled id="txtFechaCita" class="form-control"></label>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="lblTipoTransporte" class="form-label">Tipo de Transporte: </label>
                        <input type="text" disabled id="txtTipoTransporte" class="form-control"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="lblNombreCliente" class="form-label">Cliente: </label>
                        <input type="text" disabled id="txtNombreCliente" class="form-control"></label>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="lblProducto" class="form-label">Producto: </label>
                        <input type="text" disabled id="txtProducto" class="form-control"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="lblLineaTransporte" class="form-label">Línea de Transporte: </label>
                        <input type="text" disabled id="txtLineaTransporte" class="form-control"></label>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="lblVolumen" class="form-label">Volumen en Toneladas: </label>
                        <input type="text" disabled id="txtVolumen" class="form-control"></label>
                    </div>
                </div>
                <div class="row" id="divHoraAsignada">
                    <div class="col-6 mb-3">
                        <label for="lblHora" class="form-label">Hora: </label>
                        <select id="selectHour" class="form-select">
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="lblMinutos" class="form-label">Minuto: </label>
                        <select id="selectMinutes" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="row" id="divHoraArribo">
                    <div class="col-12 mb-3">
                        <label for="lblHoraArribo" class="form-label">Hora de arribo: </label>
                        <input type="text" disabled id="txtHoraArribo" class="form-control"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="lblLineaTransporte" class="form-label">Numero de Teléfono: </label>
                        <input type="text" id="txtPhoneNumber" class="form-control"></label>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="lblVolumen" class="form-label">Correo: </label>
                        <input type="text" id="txtMail" class="form-control"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button id="btnAssignDateHour" type="button" class="btn btn-primary">Asignar Hora</button>
                <button id="btnSendSms" type="button" class="btn btn-primary">Enviar SMS</button>
                <button id="btnSendMail" type="button" class="btn btn-primary">Enviar Correo</button>
            </div>
        </div>
    </div>
</div>