<div class="col-md-8 mx-auto">
  <div class="card mb-4">
    <h5 class="card-header">Ingresar Folio</h5>
    <div class="card-body">
      <div class="form-floating">
        <input type="text" class="form-control my-3" id="InputDateId" placeholder="ENT-xxxxxxxx-xx	"
          aria-describedby="floatingInputHelp">
        <label for="floatingInput">Folio</label>
        <div id="floatingInputHelp" class="form-text">
          Ingresar el folio mostrará la información a validar.
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block my-3 mx-4" id="ConfirmIdButton">Enviar</button>
  </div>
</div>

<!-- Modal Info Cita -->
<div class="modal fade" id="DateInformationModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Información de Cita</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label for="DriverName" class="form-label">Nombre del Chofer:</label>
            <div class="form-control-plaintext" id="DriverName"></div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="TransportLine" class="form-label">Línea de Transporte:</label>
            <div class="form-control-plaintext" id="TransportLine"></div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="TransportType" class="form-label">Tipo de Transporte:</label>
            <div class="form-control-plaintext" id="TransportType"></div>
          </div>
          <div class="col mb-3">
            <label for="TransportPlates" class="form-label">Placas:</label>
            <div class="form-control-plaintext" id="TransportPlates"></div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="Date" class="form-label">Fecha de Cita:</label>
            <div class="form-control-plaintext" id="Date"></div>
          </div>
          <div class="col mb-3">
            <label for="Time" class="form-label">Horario de Cita:</label>
            <div class="form-control-plaintext" id="Time"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" id="RegisterAccess">
          Registrar Ingreso
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  .form-control-plaintext {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2rem;
  }
</style>