<div class="col-md-8 mx-auto">
    <div class="card mb-4">
      <h5 class="card-header">Ingresar Folio</h5>
      <div class="card-body">
        <div class="form-floating">
          <input type="text" class="form-control my-3" id="InputDateId" placeholder="ENT-xxxxxxxx-xx	" aria-describedby="floatingInputHelp">
          <label for="floatingInput">Folio</label>
          <div id="floatingInputHelp" class="form-text">
            Ingresar el folio mostrará la información a validar.
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block my-3 mx-4" id="ConfirmIdButton">Enviar</button>
    </div>
  </div>
